######################
# Directories
######################
/target/
/.idea/

/*/target/
/*/.idea/
/*/*.iml
/*/node_modules
/*/sonar-project.properties
/*/package-lock.json
/*/*.iws
/*/*.ipr
/*/*.ids
/*/*.orig
/*/classes/
/*/out/
/*/*.log*